* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    background-color: #fff;
    margin: 0 auto;
}

header {
    background-color: #00ced1;
}

.navigation {
    background-color: #5f9ea0;
}

nav a {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main {
    background-color: #add8e6;
}

footer {
    background-color: #008080;
}